# Python environment and cache
__pycache__/
*.pyc
.venv/
env/
.streamlit/

# App Data 
# (Images are now allowed to upload! We are only blocking the local CSV)
data/expert_annotations.csv

# Explicitly protect secrets
secrets.toml
.streamlit/secrets.toml